@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
}
@keyframes scrollFeedbacks {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scrollFeedbacks {
    animation: scrollFeedbacks 60s linear infinite;
  }
  